body {
    margin: 0;
    width: 100%;
}
.wrapper {
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
background-image: url(../img/background.jpg);
background-repeat: no-repeat;
position: relative;
background-size: cover;
max-height: 2080px;
max-width: 100%;
}
._container {
max-width: 800px;
max-height: 2080px;
margin: 0 auto;
padding: 0px 15px 0px 15px;
box-sizing: content-box;
}
/* ---------------------------------------------HEADER--------------------------------------------------------- */
.header {
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    padding-top: 1px;
    padding-bottom: 2px;
}
.header_logo {
display: flex;
flex-direction: row;
justify-content: center;
min-height: 40px;
}
.logotip-size {
    max-height: 40px;
}
.header_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 39px;
}
.menu__list {
display: flex;
flex-wrap: wrap;
list-style: none;  
margin: 0px;
padding: 12px 0px 14px 0px;
}
.span {
    position: absolute;
    bottom: -14px;
    width: 100%;
    height: 2px;
    left: 0;
}
.header_menu .menu__list .menu__item:hover .span {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}
.menu__item {
margin: 0px;
margin:0px 12px 0px 12px;
display: flex;
position: relative;
min-height: 14px;
}
li:first-child {
    margin-left: 0px;
}
li:last-child {
    margin-right: 0;
}
.menu__link {
font-size: 11px;
font-family: Montserrat;
font-weight: 400;
letter-spacing: 1.3px;
text-transform: uppercase;
color: #fff;
text-decoration: none;
}
/* ---------------------------------------------MAIN--------------------------------------------------------- */
.main {
    min-height: 2080px;
}
/* -------------------------------------------BLOCK-ONE-TOP------------------------------------------- */
.block-one {
    margin-top: 61px;
}
.block-one-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/block-one-background.png);
    position: relative;
    padding: 160px 60px 40px 60px;
}
.block-one-top-main {
    max-width: 680px;
}
.block-one-top-info {
    display: flex;
    max-width: 162px;
    min-width: 680px;
}
.comment_block-one-image {
    border-radius: 4px;
    max-height: 40px;
    margin-right: 14px;
}
.comment_block-one-name {
    display: flex;
    margin: 0px;
    max-width: 680px;
}
.comment_block_one-luce-cage {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}
.comment_block-one-text {
    display: flex;
    padding-top: 2px;
    
}
.comment_block-one_name-and-text {
    min-height: 40px;
}
.comment_block-one-date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin: 0px;
    color: #fff;
}
.block-one-top-title {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.title-text-block-one {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
    max-width: 470px;
}
/* -------------------------------------TRAVEL-LOGO------------------------------------- */
.travel-logo {
    position: absolute;
    min-width: 60px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;     
    right: 20px;
    top: 20px;
}
.travel {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
/* -------------------------------------------BLOCK-ONE-BOTTOM------------------------------------------- */
.block-one-bottom {
    background-color: #fff;
    padding: 35px 60px 35px 60px;
}
.block-one-bottom .block-one-bottom-main .block-one-bottom-buttons:hover .block-one-bottom-btn {
    text-decoration: underline;
}
.block-one-bottom-main {
    display: flex;
    flex-direction: column;
}
.block_two-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 0;
    min-height: 80px;
    max-width: 661px;
}
.block-one-bottom-buttons {
    text-decoration: none;
    display: flex;
    min-height: 30px;
}
.block-one-bottom-btn{
    text-decoration: none;
    color: #8D4FDB;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px
}
/* -------------------------------------BLOCK-TWO-TOP------------------------------------- */
.block-two-top {
    padding: 160px 60px 40px 60px;
    background-image: url(../img/block-three-background.png);
    position: relative;
}
.block-two-top-info {
    display: flex;
}
.comment_block_three-image {
    border-radius: 4px;
    margin-right: 14px;
    max-height: 40px;
}
.comment_block_three-jessica-simpson {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}
.comment_block-three-text {
    width: 86px;
    height: 19px;
}
.comment_block-three-date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    margin: 0;
    padding-top: 2px;
}
.title_block-three {
    width: 503px;
    margin-top: 20px;
}
.title-text-block-three {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
    margin: 0;
}
/* -------------------------------------PHOTOGRAPHY-LOGO-ONE-------------------------------------------- */
.photography-logo-one {
    width: 102px;
    position: absolute;
    background:rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
}
.photography-one {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* -------------------------------------BLOCK-TWO-BOTTOM-------------------------------------------- */
.block-two-bottom {
    display: flex;
    flex-direction: column;  
    background-color: #fff;
    padding: 35px 60px 35px 60px;
}
.block-two-bottom-comments {
    min-height: 80px;
}
.block_four-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333ff;
    margin: 0;
    width: 661px;
}
.block-two-bottom-btn {
    text-decoration: none;
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
}
.block-two .block-two-bottom .block-two-bottom-main .block-two-bottom-buttons:hover .block-two-bottom-btn {
    text-decoration: underline;
}
/* -------------------------------------BLOCK-THREE-TOP-------------------------------------------- */
.block-three-top {
    background-image: url(../img/block-five-background.png);
    position: relative;
    padding: 160px 60px 40px 60px;
}
.block-three-top-comments {
    display: flex;
}
.comment_block-five_image {
    max-height: 40px;
    border-radius: 4px;
    margin-right: 20px;
}
.comment_block_five_luce-cage {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}
.comment_bock_five_date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}
.block-three-top-title {
    max-width: 451px;
    margin-top: 20px;
}
.block_five_title_text {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
}

.photography-logo-two {
    width: 102px;
    position: absolute;
    background:rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
}
.photography-two {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* -------------------------------------BLOCK-THREE-BOTTOM-------------------------------------------- */
.block-three-bottom {
    background-color: #fff;
    padding: 35px 60px 35px 60px;
}
.block-three-bottom-comments {
    min-height: 80px;
}
.block-three-bottom-main {
    display: flex;
    flex-direction: column;
}
.block_six_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 0;
    width: 661px;
    min-height: 80px;
}
.block-three-bottom-buttons {
    display: flex;
    min-height: 30px;
}
.block-three-bottom-btn {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
    text-decoration: none;
}
.block-three .block-three-bottom .block-three-bottom-main .block-three-bottom-buttons:hover .block-three-bottom-btn {
    text-decoration: underline;
}
/* -------------------------------------BLOCK-FOUR-------------------------------------------- */
.block-four {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 49px 250px 60px 250px;
}
.block-four-main {
    min-width: 300px;
}
.block_seven_title {
    display: flex;
}
.block_seven_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #333;
    text-align: center;
}
.block_seven_buttons {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    max-height: 45px;
}
.block-four .block-four-main .block_seven_buttons:hover .block_seven_btn {
    background-color: #F1F1F1;
    font-size: 10px;
    transition: all 0.3s ease-in-out;
    color: #8D4FDB;
    border: 1px solid transparent;
    border-color: #8D4FDB;
}
.block_seven_btn {
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #8D4FDB;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 8px 25px 7px 25px;
}
/* -------------------------------------FEATURED-STORIES-------------------------------------------- */
.featured {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 678px;
    background-color: #fff;
}
._featured-container {
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    box-sizing: content-box;
    min-height: 100%;
    overflow: hidden;
    max-width: 940px; 
}
.featured_stories {
    min-height: 498px;
    padding: 90px 0px 90px 0px;
}
.featured_head {
    min-height: 93px;
}
.featured_title {
    min-height: 40px;
}
.featured-text {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333;
    margin: 0;
}
.featured_cotent {
    min-height: 33px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.featured_content-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 23px;
    line-height: 33px;
    margin: 0;
    text-align: center;
    color: #A9AFB3;
}
.featured_body {
    display: flex;
    margin-top: 50px;
}
/* -------------------------FEATURED-BODY-BLOCK-ONE-------------------- */
.featured-body-block-one {
    min-width: 300px;
    max-height: 269px;
    margin-right: 20px;
}
.featured-body-block-one-top {
    padding: 146px 0px 9px 16px;
    background-image: url(../img/featured-background-one.png);
    background-repeat: no-repeat;
}
.featured-body-block-one-top-name-Luke {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    display: flex;
    margin: 0;
}
.featured-body-block-one-top-comments {
    display: flex;
    max-height: 35px;
}
.featured-body--block-one-top-comments-image {
    max-height: 35px;
    margin-right: 8px;
}
.featured-body--block-one-top-comments-image-img {
    border-radius: 4px;
    max-width: 35px;
    max-height: 35px;
}
.featured-body-block-one-top-date-Luke {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    margin: 0;
}
.featured-body-block-one-top-name-and-date {
    display: flex;
    flex-direction: column;
}
.featured-body-block-one-bottom-text {
    max-width: 272px;
    max-height: 56px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 23px;
    margin-bottom: 0px;
}
.featured-body-block-one-top-comments-image {
    margin-right: 8px;
}
/* -------------------------FEATURED-BODY-BLOCK-TWO-------------------- */
.featured-body-block-two {
    margin-right: 20px;
}
.featured-body-block-two-top {
    background: url(../img/featured-background-two.png);
    background-repeat: no-repeat;
    padding: 131px 108px 20px 24px;
}
.featured-body-block-two-top-comments {
    display: flex;
    min-width: 168px;
    min-height: 39px;
}
.featured-body-block-two-top-img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 4px;
}
.featured-body-block-two-top-image {
    max-width: 35px;
    max-height: 35px;
    margin-right: 8px;
}
.Jessica-Simpson {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}
.Jun-date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    margin: 0;
}
.featured-body-block-two-bottom {
    margin-top: 23px;
}
.featured-body-block-two-bottom-text {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    max-width: 281px;
}
/* -------------------------FEATURED-BODY-BLOCK-THREE-------------------- */
.featured-body-block-three-top {
    background-image: url(../img/featured-background-three.png);
    background-repeat: no-repeat;
    padding: 131px 151px 20px 24px;
}
.featured-body-block-three-comments {
    display: flex;
    max-width: 125px;
    min-height: 39px;
}
.featured-body-block-three-image {
    max-width: 35px;
    max-height: 35px;
    margin-right: 8px;
}
.featured-body-block-three-img {
    max-width: 35px;
    border-radius: 4px;
}
.featured-body-block-three-comments p {
    margin: 0;
}
.featured-body-block-three-name-and-date {
    min-width: 125px;
    min-height: 39px;
}
.featured-body-block-three-Luke {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}
.featured-body-block-three-jun {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
.featured-body-block-three-bottom {
    margin-top: 23px;
}
.featured-body-block-three-bottom-text {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    max-width: 230px;
}
/* -------------------------FEATURED-FOOTER-------------------- */
.featured_footer {
    display: flex;
    margin-top: 56px;
    padding: 0px 350px 0px 304px;
}
.featured-footer-main {
    display: flex;
}
.featured-footer-title {
    min-width: 212px;
    max-height: 30px;
}
.featured-footer-text {
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #333333;
}
.featured-footer-buttons {
    display: flex;
    min-width: 119px;
    min-height: 30px;
    align-items: center;
}
.featured-footer-btn {
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #8D4FDB;
}
.featured_footer .featured-footer-main .featured-footer-buttons:hover .featured-footer-btn {
    text-decoration: underline;
}


/* -----------------------------FOOTER--------------------------- */

.footer {
    background-color: #000000;
    width: 100%;
}
.footer-main {
    padding: 55px 0px 45px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-block-one {
    display: flex;
    justify-content: center;
}
.footer-block-one p {
    margin: 0;
}
.footer-block-one-title-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #8B8B8B;
}
.footer-block-one-text-txt {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8B8B8B;
}

.footer-block-one-buttons-btn {
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    color: #8D4FDB;
    text-decoration: none;
}
.footer-block-one-buttons-btn::before {
    content: "(";
    color: #8B8B8B;
}
.footer-block-one-buttons-btn::after {
    content: ")";
    color: #8B8B8B;
}
.footer .footer-main .footer-block-one .footer-block-one-buttons:hover .footer-block-one-buttons-btn {
    text-decoration: underline;
}
.footer-block-two {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.footer-block-two p {
    margin: 0;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #8B8B8B;
}
.footer-block-two-title-btn {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #8D4FDB;
    text-decoration: none;
}
.footer-block-two-twotitiles-btn {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8D4FDB;
    text-decoration: none;
}
.footer-block-two-title-buttons {
    margin-right: 10px;
}
.footer-block-one-two {
    min-height: 66px;
    padding: 0px 70px 0px 70px;
}


ul {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
}

.menu .menu-item {
    background-color: red;
    list-style-type: none;  
}

.menu .menu-item:hover {
    background-color: blue;
}

.menu .menu-item:hover .line {
    background-color: green;
}

.menu .menu-item .line {
    width: 100%;
    height: 10px;
    background-color: #8D4FDB;
    display: flex;
}

.menu .menu-item a {
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    display: flex;
}


