html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    margin: 0;
    width: 100%;
}
.wrapper { 
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    max-width: 100%;
    padding-bottom: 99px;

}

/* ---------------------------------------------HEADER--------------------------------------------------------- */
.header {
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    padding-top: 1px;
    padding-bottom: 2px;
}
.header .header_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 39px;
    position: relative;
}
.header .menu .menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;  
    margin: 0px;
    padding: 12px 0px 14px 0px;
}
.header .menu .menu-list .menu-item {
    margin: 0px;
    margin:0px 12px 0px 12px;
    display: flex;
    position: relative;
    min-height: 14px;
}
.sub-menu {
    display: none;
}
 .menu .menu-list .menu-item .menu-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    bottom: -14px;
    transition: all 0.5s;
    position: absolute;
  }
  
  .menu .menu-list .menu-item .menu-link:hover::after {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3)
  } 
li:first-child {
    margin-left: 0px;
}
li:last-child {
    margin-right: 0;
}
.header .menu .menu-list .menu-item .menu-link {
    font-size: 11px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
/* ---------------------------------------------MAIN--------------------------------------------------------- */
.main {
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    box-sizing: content-box;
    max-width: 800px;
}
p {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
/* -------------------------------------------POST-ONE------------------------------------------- */
.post .block-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 60px 60px 40px 60px;
    min-height: 330px;
    box-sizing: border-box;
}
.post.one {
    margin-top: 61px;
}
.post.one .block-top.image {
    background-image: url(../img/block-one-background.png);
}
.post .block-top .block-main {
    /* min-width: 680px; */
}
.post .block-top .block-main .block-info {
    display: flex;
}
.post .block-top .block-main .block-info .image-wrapper {
    border-radius: 4px;
    margin-right: 14px;
    max-height: 40px;
}
.post .block-top .block-main .block-info .user-meta {
    min-height: 40px;
}
.post .block-top .block-main .block-info .user-meta .name {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    display: flex;
}
.post .block-top .block-main .block-info .user-meta .date {
    display: flex;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
}
.post .block-top .block-main .title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
    max-width: 470px;
    margin-top: 20px;
}
.post .block-top .snippet {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    min-width: 60px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;     
    right: 20px;
    top: 20px;
}
.post .block-bottom {
    background-color: #fff;
    padding: 35px 60px 35px 60px;
}
.post .block-bottom .main-bottom {
    display: flex;
    flex-direction: column;
}
.post .block-bottom .main-bottom .text-bottom {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 0;
    min-height: 80px;
    max-width: 661px;
}
.post .block-bottom .main-bottom .link {
    margin-top: 15px;
    max-width: 158px;
    text-decoration: none;
    color: #8D4FDB;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px
}
.post .block-bottom .main-bottom .link:hover{
    text-decoration: underline;
}


/* -------------------------------------------POST-SECOND------------------------------------------- */
.post.second .block-top.image {
    background-image: url(../img/block-three-background.png);
}
.post.second .block-top .block-main .title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
    max-width: 503px;
    margin-top: 20px;
}
.post.second .block-top .snippet {
    min-width: 102px;
}
/* -------------------------------------------POST-THIRD------------------------------------------- */
.post.third .block-top.image {
    background-image: url(../img/block-five-background.png);
}
.post.third .block-top .snippet {
    min-width: 102px;
}
/* -------------------------------------------LOWER-BLOCK------------------------------------------- */
.lower-block {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 49px 60px 60px 60px;
}
.lower-block .lower-block-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lower-block .lower-block-main .title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
}
.lower-block .lower-block-main .button {
    margin-top: 21px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-color: #8D4FDB;
    border: 1px solid transparent;
    border-radius: 3px;
    min-width: 180px;
    min-height: 43px;
    transition: all 0.3s ease-in 0s;
}
.lower-block .lower-block-main .button:hover {
    background-color: #F1F1F1;
    font-size: 10px;
    color: #8D4FDB;
    border: 1px solid transparent;
    border-color: #8D4FDB;
}
/* -------------------------------------SECONDARY------------------------------------- */
.secondary {
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    box-sizing: content-box;
    min-height: 100%;
    overflow: hidden;
    max-width: 940px;
}
/* -------------------------------------SECONDARY-BLOCK------------------------------------- */
.secondary .secondary-block {
    min-height: 498px;
    padding: 90px 0px 90px 0px;
}
.secondary .secondary-block .secondary-head {
    display: flex;
    flex-direction: column;
}
.secondary .secondary-block .secondary-head .title {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333;
    font-family: 'Montserrat';
}
.secondary .secondary-block .secondary-head .text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 23px;
    line-height: 33px;
    text-align: center;
    color: #A9AFB3;
    margin-top: 25px;
}
.secondary .secondary-block .secondary-body {
    display: flex;
    margin-top: 50px;
}
/* -------------------------------------CARD-ONE------------------------------------ */
.secondary .secondary-block .secondary-body .card {
    margin-right: 20px;
}
.secondary .secondary-block .secondary-body .card .card-main {
    padding: 24px;
    background-image: url(../img/featured-background-one.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 190px;
    display: flex;
    align-items: end;
    border-radius: 3px;
}
.secondary .secondary-block .secondary-body .card .card-main .card-info {
    display: flex;
    min-height: 39px;
}
.secondary .secondary-block .secondary-body .card .card-main .card-info .card-image {
    margin-right: 9px;
    border-radius: 4px;
}
.secondary .secondary-block .secondary-body .card .card-main .card-info .user-meta {
    display: flex;
    flex-direction: column;
}
.secondary .secondary-block .secondary-body .card .card-main .card-info .user-meta .name {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}
.secondary .secondary-block .secondary-body .card .card-main .card-info .user-meta .date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
.secondary .secondary-block .secondary-body .card .card-text {
    max-width: 272px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 23px;
}
/* -------------------------------------CARD-TWO------------------------------------- */
.secondary .secondary-block .secondary-body .card.two .card-main.image {
    background-image: url(../img/featured-background-two.png);
    border-radius: 3px;
}
/* -------------------------------------CARD-THREE------------------------------------- */
.secondary .secondary-block .secondary-body .card.three {
    margin: 0;
}
.secondary .secondary-block .secondary-body .card.three .card-main.image {
    background-image: url(../img/featured-background-three.png);
    border-radius: 3px;
}
/* -------------------------------------SECONDARY-FOOTER------------------------------------- */
.secondary .secondary-block .secondary-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 56px;
}
.secondary .secondary-block .secondary-footer .text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #333333;
    padding: 0 4px;
}
.secondary .secondary-block .secondary-footer .link {
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #8D4FDB;
    padding: 0 4px;
}
.secondary .secondary-block .secondary-footer .link:hover {
    text-decoration: underline;
}

/* -----------------------------FOOTER--------------------------- */

.footer {
    background-color: #000000;
    width: 100%;
}
.footer .footer-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 55px;
}
/* -----------------------------FOOTER-BLOCK ONE--------------------------- */
.footer .footer-main .footer-block {
    display: flex;
    justify-content: center;
}
.footer .footer-main .footer-block .text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #8B8B8B;
    padding: 0px 2px;
}
.footer .footer-main .footer-block .text.second {
    font-size: 13px;
}
.footer .footer-main .footer-block .link {
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    color: #8D4FDB;
    text-decoration: none;
}
.footer .footer-main .footer-block .link:hover {
    text-decoration: underline;
}

/* -----------------------------FOOTER-BLOCK TWO--------------------------- */

.footer .footer-main .footer-block.two {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.footer .footer-main .footer-block.two .link {
    font-size: 14px;
}