body {
    margin: 0;
    width: 100%;
}
.wrapper {
min-height: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
background-image: url(../img/background.jpg);
background-repeat: no-repeat;
position: relative;
background-size: cover;
max-height: 2080px;
max-width: 100%;
}
._container {
max-width: 800px;
max-height: 2080px;
margin: 0 auto;
padding: 0px 15px 0px 15px;
box-sizing: content-box;
}
/* ---------------------------------------------HEADER--------------------------------------------------------- */
.header_container {
width: 800px;
padding-top: 60px;
}
.header {
    min-height: 122px;
    display: flex;
    flex-direction: column;
}
.header_logo {
width: 800px;
display: flex;
flex-direction: row;
justify-content: center;
padding-top: 1px;
}
.header_menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 39px;
}
.menu__list {
display: flex;
justify-content: center;
flex-wrap: wrap;
list-style: none;  
margin: 0px;
padding: 0px;
width: 800px;
align-content: center;
padding-top: 12px;
}
.menu__item {
margin: 0px;
padding:0px 12px 0px 12px;
display: flex;
flex-wrap: wrap;
}
li:first-child {
    padding-left: 0px;
}
li:last-child {
    padding-right: 0;
}
.menu__link {
font-size: 11px;
font-family: Montserrat;
font-weight: 400;
letter-spacing: 1.3px;
text-transform: uppercase;
color: #fff; 
}
.logotip {
width: 176px;
}
li {
list-style-type: none;
display: inline-block;
  }
  
li > a {
position: absolute;
color: #333;
text-decoration: none;
display: inline-block;
position: relative;
margin-left: auto;
margin-right: auto;
}
  
li > a::after {
    position: absolute;
    content: "";
display: block;
margin: auto;
height: 2px;
width: 0;
top: 5px;
background: transparent;
transition: all 0.3s;
margin-top: 24px;
align-items: center;
}
  
li > a:hover::after {
width: 100%;
background: rgba(255, 255, 255, 0.3);
}
/* ---------------------------------------------HEADER-END--------------------------------------------------------- */






/* ---------------------------------------------MAIN--------------------------------------------------------- */
.main {
    width: 800px;
    min-height: 2080px;
    padding-top: 58px;
}
/* -------------------------------------------BLOCK-ONE------------------------------------------- */
.block_one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../img/block-one-background.png);
    position: relative;
    min-height: 300px;
}
.block_one_general {
    max-width: 680px;
    padding: 40px 60px 40px 60px;
}
.comment_block-one{
    display: flex;
    justify-content: space-between;
    max-width: 162px;
    padding-bottom: 20px;
}
.comment_block-one-image {
    width: 40px;
    border-radius: 4px;
    max-height: 40px;
    margin: 0;
}
.comment_block-one-name {
    display: flex;
    margin: 0px;
}
.comment_block_one-luce-cage {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0px;
}
.comment_block-one-text {
    display: flex;
    padding-top: 2px;
    
}
.comment_block-one_name-and-text {
    min-height: 40px;
}
.comment_block-one-date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin: 0px;
    color: #fff;
}
.title_block-one {
    width: 470px;
    display: flex;
    align-items: center;
}
.title-text-block-one {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
}
/* -------------------------------------TRAVEL-LOGO------------------------------------- */
.travel-logo {
    position: absolute;
    width: 60px;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;     
    right: 20px;
    top: 20px;
}
.travel {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
/* -------------------------------------BLOCK-TWO------------------------------------- */
.block_two {
    background-color: #fff;
}
.block_two-main {
    position: relative;
    display: flex;
    width: 800px;
    min-height: 180px;
    flex-direction: column;
}
.block_two-main-text {
    width: 680px;
    min-height: 80px;
    padding: 35px 60px 0px 60px;
}
.block_two-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 0;
    min-height: 80px;
    width: 661px;

}
.block_two-buttons {
    width: 158px;
    padding: 0px 582px 35px 60px;
    text-decoration: none;
}
.block_two-btn {
    text-decoration: none;
    color: #8D4FDB;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px
}

/* -------------------------------------BLOCK-THREE------------------------------------- */
.block_three {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 800px;
    min-height: 330px;
    background-image: url(../img/block-three-background.png);
    position: relative;
}
.comment_block-three {
    display: flex;
    padding: 0px 60px 20px 60px;
}
.comment_block_three-image {
    width: 40px;
    max-height: 40px;
    border-radius: 4px;
}
.comment_block_three-jessica-simpson {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}
.comment_block-three-text {
    width: 86px;
    height: 19px;
}
.comment_block-three-date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    margin: 0;
    padding-top: 2px;
}
.comment_block-three-name-and-text {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
}
.title_block-three {
    width: 503px;
}
.title_block-three {
    width: 503px;
    display: flex;
    padding: 0px 237px 40px 60px;
}
.title-text-block-three {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
    margin: 0;
}
/* -------------------------------------PHOTOGRAPHY-LOGO-ONE-------------------------------------------- */
.photography-logo-one {
    width: 102px;
    position: absolute;
    background:rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
}
.photography-one {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* -------------------------------------BLOCK-FOUR-------------------------------------------- */
.block_four {
    width: 800px;
    display: flex;
    flex-direction: column;  
    background-color: #fff;
}
.block_four-main {
    width: 680px;
    height: 80px;
    padding: 35px 60px 0px 60px;
}
.block_four-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333ff;
    margin: 0;
    width: 661px;
}
.block_four_buttons {
    width: 158px;
    padding: 0px 582px 35px 60px;
}
.block_four-btn {
    text-decoration: none;
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
}
/* -------------------------------------BLOCK-FIVE-------------------------------------------- */
.block_five {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 800px;
    min-height: 330px;
    background-image: url(../img/block-five-background.png);
    position: relative;
}
.comment_block-five {
    width: 680px;
    display: flex;
    padding: 0px 60px 20px 60px;
}
.comment_block-five_image {
    width: 40px;
    max-height: 40px;
    border-radius: 4px;
}
.comment_block_five_name_and_text {
    width: 101px;
    display: flex;
    flex-direction: column;
    padding-left: 14px;
}
.comment_block_five_name {
    padding-bottom: 2px;
    width: 101px;
}
.comment_block_five_luce-cage {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}
.comment_block_five_text {
    width: 86px;
}
.comment_bock_five_date {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    margin: 0;
}
.block_five_title {
    width: 451px;
    padding: 0px 289px 40px 60px;
}
.block_five_title_text {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #fff;
}

.photography-logo-two {
    width: 102px;
    position: absolute;
    background:rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
}
.photography-two {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* -------------------------------------BLOCK-SIX-------------------------------------------- */
.block_six {
    width: 800px;
    height: 180px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.block_six_main {
    width: 680px;
    height: 80px;
    padding: 35px 60px 0px 60px;
}
.block_six_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 0;
    width: 661px;
}
.block_six_buttons {
    width: 158px;
    padding: 0px 582px 35px 60px;
}
.block_six_btn {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
    text-decoration: none;
}
/* -------------------------------------BLOCK-SEVEN-------------------------------------------- */
.block_seven {
    width: 800px;
    height: 211px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
}
.block_seven_title {
    width: 300px;
    height: 36px;
    padding: 49px 250px 21px 250px;
    display: flex;
}
.block_seven_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #333;
    text-align: center;
}
.block_seven_buttons {
    width: 182px;
    height: 45px;
    padding: 0px 309px 60px 309px;
    display: flex;
}
.block_seven_btn {
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #8D4FDB;
    border-radius: 3px;
    padding: 8px 25px 7px 25px;
}
/* -------------------------------------FEATURED-STORIES-------------------------------------------- */
.featured {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 1440px;
    height: 678px;
    background-color: #fff;
}
._featured-container {
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
    box-sizing: content-box;
    min-height: 100%;
    overflow: hidden;
    max-width: 940px;
}
.featured_stories {
    width: 940px;
    height: 498px;
    padding: 90px 0px 90px 0px;
}
.featured_head {
    width: 940px;
    height: 93px;
    padding: 0px 0px 50px 0px;
}
.featured_title {
    width: 335px;
    height: 40px;
    padding: 0px 302px 25px 303px;
}
.featured-text {
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333;
    margin: 0;
}
.featured_cotent {
    width: 373px;
    height: 33px;
    padding: 0px 283px 50px 284px;
}
.featured_content-text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 23px;
    line-height: 33px;
    margin: 0;
    text-align: center;
    color: #A9AFB3;
}
.featured_body {
    width: 940px;
    height: 295px;
    display: flex;
}
.featured_body_pictures_one {
    width: 300px;
    height: 295px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.featured_body_box_one {
    background-image: url(../img/featured-background-one.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 190px;
    display: flex;
}
.featured_body_commentary_image {
    width: 35px;
    height: 35px;
    padding: 146px 8px 9px 16px;
}
.featured_body_commentary_img_one {
    width: 35px;
    height: 35px;
}
.featured_body_commentary_title_box {
    width: 82px;
    height: 37px;
    display: flex;
    padding: 148px 159px 5px 0px;
    flex-direction: column;
}
.featured_body_commentary_title {
    width: 82px;
    height: 19px;
}
.featured_body_commentary_title_name {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}
.featured_body_commentary_date {
    width: 82px;
    height: 19px;
}
.featured_body_commentary_date_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}
.featured_body_content_one_text {
    padding: 23px 37.98px 26px 0px; 
    width: 272px;
    height: 56px; 
}
.content_text_one {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #000000;
}
.featured_body_pictures_two {
    width: 300px;
    height: 295px;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.featured_body_box_two {
    width: 300px;
    height: 190px;
    background-image: url(../img/featured-background-two.png);
    display: flex;
    border-radius: 3px;
}
.featured_body_commentary_image_two {
    width: 35px;
    height: 35px;
    padding: 131px 8px 24px 24px;
}
.featured_body_commentary_img_two {
    width: 35px;
    height: 35px;
}
.featured_body_commentary_title_box {
    width: 125px;
    height: 37px;
}
.featured_body_commentary_title_box_two {
    padding: 133px 108px 20px 0px;
}
.featured_body_commentary_title_two {
    width: 125px;
    height: 19px;
}
.featured_body_commentary_title_name_two {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}
.featured_body_commentary_date {
    width: 77px;
    height: 18px;
}
.featured_body_commentary_date_text_two {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
.featured_body_content_two {
    width: 281px;
    height: 56px;
}
.content_text_two {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
.featured_body_content_two_text {
    padding-top: 23px;
}
.featured_body_pictures_three {
    width: 300px;
    height: 295px;
    display: flex;
    flex-direction: column;
}
.featured_body_box_three {
    display: flex;
    background-image: url(../img/featured-background-three.png);
    border-radius: 3px;
}
.featured_body_commentary_title_box_three {
    width: 82px;
    height: 37px;
    display: flex;
    flex-direction: column;
    padding: 133px 151px 20px 8px;
}
.featured_body_commentary_image_three {
    width: 35px;
    height: 35px;
    padding: 131px 0px 24px 24px;
}
.featured_body_commentary_img_three {
    width: 35px;
    height: 35px;
}
.featured_body_commentary_title_three {
    width: 82px;
    height: 19px;
}
.featured_body_commentary_title_name_three {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}
.featured_body_commentary_date_three{
    width: 77px;
    height: 18px;
}
.featured_body_commentary_date_text_three {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
}
.featured_body_content_three {
    width: 230px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 70px 26px 0px;
}
.featured_body_content_three_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000;
}
.featured_end {
    width: 940px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px   ;
}
.featured_end_text {
    width: 212px;
    height: 30px;
    display: flex;
}
.featured_end_txt {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #333333;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.featured_end_buttons {
    width: 119px;
    height: 30px;
}
.featured_end_btn {
    text-decoration: none;
    text-align: center;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #8D4FDB;
}
/* ----------------------------------------FOOTER---------------------------------------------------- */
.footer {
    width: 1440px;
    height: 166px;
    background-color: #000;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    background-size: cover;
    max-height: 2080px;
    max-width: 100%;
}
.footer_container {
    width: 940px;
    height: 66px;
    padding: 55px 250px 45px 250px;
}
.footer_container_one {
    width: 800px;
    height: 28px;
    padding-bottom: 10px;
    display: flex;
    padding: 0px 70px 0px 70px;
}
.footer_container_two {
    width: 800px;
    height: 28px;
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}
.footer_title_one {
    width: 134px;
    height: 28px;
    padding-right: 10px;
    padding-left: 162px;
}
.footer_title_two {
    width: 332px;
    height: 28px;
}
.footer_title_one_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #8B8B8B;
}
.footer_title_two_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8B8B8B;
}
.details {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8B8B8B
}
.btn_one {
    color: #8D4FDB;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
.footer_title_three {
    width: 78px;
    height: 28px;
    padding-left: 243px;
}
.footer_title_three_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #8B8B8B;
    text-align: center;
}
.footer_title_buttom_three {
    width: 87px;
    height: 28px;
    padding-right: 10px;
}
.footer_title_btn_three {
    color: #8D4FDB;
    text-align: center;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
}
.footer_title_three_four {
    width: 75px;
    height: 28px;
}
.footer_title_three_four_text {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #8B8B8B;
    text-align: center;
}
.footer_title_buttom_four {
    width: 55px;
    height: 28px;
    padding-right: 252px;
}
.footer_title_btn_four {
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8D4FDB;
}